<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>RedString 線上報名</title>
  <link type="text/css" rel="stylesheet" href="../../css/mmenu.css" />
    <!-- IE 10 and 11 polyfills -->
    <script src="https://polyfill.io/v3/polyfill.min.js?flags=gated&features=Array.prototype.filter%2CArray.prototype.forEach%2CArray.prototype.map%2CElement.prototype.cloneNode%2Cdocument.querySelector"></script>
    <link rel="stylesheet" href="../../css/normalize.css">
  <link rel="stylesheet" href="../../css/立刻報名/線上報名style.css">

</head>

<body>
  <div class="container">
    <header class="header">
        <a  class="ham" href="#menu"><span></span></a>
        <a href="../../index.html"><img  src="../../picture/list-header.png"></a>
</header>

<nav class="navi">
        <ul class="navi_content">                    
            <li><a class="navi_link_animation" href=#>關於赤弦 </a>
                <ul>
                    <li><a class="navi_link_animation" href="../關於赤弦/赤弦故事.html">赤弦故事</a></li>
                    <li><a class="navi_link_animation" href="../關於赤弦/周邊商品.html">周邊商品</a></li>
                </ul>
            </li>
            <li><a class="navi_link_animation" href=#>評審資訊</a>
                <ul>
                    <li><a class="navi_link_animation" href="../評審資訊/初賽評審.html">初賽評審</a></li>
                    <li><a class="navi_link_animation" href="../評審資訊/決賽評審.html">決賽評審</a></li>
                </ul>
            </li>
            <li><a class="navi_link_animation" href=#>比賽規則</a>
                <ul>
                    <li><a class="navi_link_animation" href="../比賽規則/報名須知.html">報名須知</a></li>
                    <li><a class="navi_link_animation" href="../比賽規則/檢錄須知.html">檢錄須知</a></li>
                    <li><a class="navi_link_animation" href="../比賽規則/決賽須知.html">決賽須知</a></li>
                </ul>
            </li>
            <li><a class="navi_link_animation" href=#>贊助廠商</a>
                <ul>
                    <li><a class="navi_link_animation" href="../贊助廠商/廠商一覽.html">廠商一覽</a></li>
                    <li><a class="navi_link_animation" href="../贊助廠商/贊助我們.html">贊助我們</a></li>
                </ul>
            </li>
            <li><a class="navi_link_animation" href=#>立刻報名</a>
                <ul>
                    <li><a class="navi_link_animation" href="../立刻報名/線上報名.html">線上報名</a></li>
                    <li><a class="navi_link_animation" href="../立刻報名/攤位報名.html">攤位報名</a></li>
                </ul>
            </li>
            <li><a class="navi_link_animation" href=#>聯絡我們</a>
                <ul>
                    <li><a class="navi_link_animation" href="../聯絡我們/聯絡資訊.html">聯絡資訊</a></li>
                    <li><a class="navi_link_animation" href="../聯絡我們/線上提問.html">線上提問</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    <nav id="menu">
            <ul>
                <li><a class="test" href="../../index.html">首頁</a></li>
                
                <li><span >關於赤弦</span>
                    <ul>
                        <li><a class="test2" href="../關於赤弦/赤弦故事.html">赤弦故事</a></li>
                        <li><a class="test2" href="../關於赤弦/周邊商品.html">周邊商品</a></li>
                    </ul>
                </li>
                
                <li><span>評審資訊</span>
                    <ul>
                        <li><a class="test2" href="../評審資訊/初賽評審.html">初賽評審</a></li>
                        <li><a class="test2" href="../評審資訊/決賽評審.html">決賽評審</a></li>
                    </ul>
                </li>

                <li><span>比賽規則</span>
                    <ul>
                        <li><a class="test2" href="../比賽規則/報名須知.html">報名須知</a></li>
                        <li><a class="test2" href="../比賽規則/檢錄須知.html">檢錄須知</a></li>
                        <li><a class="test2" href="../比賽規則/決賽須知.html">決賽須知</a></li>
                    </ul>
                </li>

                <li><span>贊助廠商</span>
                    <ul>
                        <li><a class="test2" href="../贊助廠商/廠商一覽.html">廠商一覽</a></li>
                        <li><a class="test2" href="../贊助廠商/贊助我們.html">贊助我們</a></li>
                    </ul>
                </li>

                <li><span>立刻報名</span>
                    <ul>
                        <li><a class="test2" href="../立刻報名/線上報名.html">線上報名</a></li>
                        <li><a class="test2" href="../立刻報名/攤位報名.html">攤位報名</a></li>
                    </ul>
                </li>

                <li><span>聯絡我們</span>
                    <ul>
                        <li><a class="test2" href="../聯絡我們/聯絡資訊.html">聯絡資訊</a></li>
                        <li><a class="test2" href="../聯絡我們/線上提問.html">線上提問</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

  <section class="article_title">
    <p class="article_title_Main">線上報名</p>
    <p class="article_title_Sub">Online Registration</p>
  </section>


  <div class="content" id="app">


    <div class="row">
      <h3>報名組別</h3>
      <select name="Contest" id="Contest" v-model="select">
        <option value="senior_play">高中演奏組</option>
        <option value="senior_sing">高中彈唱組</option>
        <option value="college_sing">大專團體組</option>
        <option value="college_play">大專演奏組</option>
        <option value="college_single">大專個人組</option>
        <option value="college_create">大專創作組</option>
      </select>
    </div>


    <div class="row1">
      <p class="title">參賽資料</p>

      <div class="textborad">
        <input type="text" name="曲目" placeholder="  曲目" class="text" v-model="song">
        <input type="text" name="Street" placeholder="  StreetVoice帳號" class="text" v-model="street">
      </div>

      <div class="textborad">
        <input type="text" name="DEMO連結" placeholder="  DEMO連結" class="text" v-model="DEMO">
        <input type="text" name="原唱" placeholder="  原唱" class="text" v-model="singer">
      </div>
    </div>

    <div class="article_splitLine"></div>

    <div class="row2">
      <p class="title">聯絡資料</p>

      <div class="textborad">
        <input type="text" name="姓名" placeholder="  姓名" class="text" v-model="name">
        <input type="text" name="學校" placeholder="  學校" class="text" v-model="school">
        <input type="text" name="系級" placeholder="  系級" class="text" v-model="department">
      </div>

      <div class="textborad">
        <input type="text" name="聯絡電話" placeholder="  聯絡電話" class="text" v-model="phone">
        <input type="text" name="電子信箱" placeholder="  電子信箱" class="text" v-model="mail">
      </div>
    </div>


    <div class="check">
      <input type="checkbox" name="check1" value="check1">我已詳閱第18屆赤弦獎報名須知，並同意所有比賽規則 <br>
    </div>
    <div class="check">
      <input type="checkbox" name="check2" value="check2">我授予第18屆赤弦獎本人的所有肖像使用權 <br>
    </div>






    <div class="btn_center">
      <input type="button" value="送出表單" class="btn" v-on:click="firebaseInsert">
    </div>
  </div>




  <footer class="footer">
    <p>© 2019 赤弦獎 | Designed by: Kai Lin | Made by: Will Chen</p>
  </footer>

  </div>


  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-app.js"></script>
  <!-- Add Firebase products that you want to use -->
  <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-firestore.js"></script>



  <script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
      apiKey: "AIzaSyCzkDFnj80ss8Jp8bgNpYvVMRCqtFh8vx4",
      authDomain: "online-question.firebaseapp.com",
      databaseURL: "https://online-question.firebaseio.com",
      projectId: "online-question",
      storageBucket: "online-question.appspot.com",
      messagingSenderId: "356617985584",
      appId: "1:356617985584:web:4090c4c7f4f17b1b"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);

    var db = firebase.firestore();
  </script>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <script>


    var vm = new Vue({

      el: '#app',

      data: {
        select: "",
        song: "",
        street: "",
        DEMO: "",
        singer: "",
        name: "",
        school: "",
        department: "",
        phone: "",
        mail: "",
        Eng:""
      },

      methods: {

        firebaseInsert: function () {

          if (this.select == "senior_play") {
            this.Eng = "senior-play";
          }
          if (this.select == "senior_sing") {
            this.Eng = "senior-sing";
          }
          if (this.select == "college_sing") {
            this.Eng = "college-sing";
          }
          if (this.select == "college_play") {
            this.Eng = "college-play";
          }
          if (this.select == "college_single") {
            this.Eng = "college_single";
          }
          if (this.select == "college_create") {
            this.Eng = "college-create";
          }
          console.log(this.Eng);
          db.collection(this.Eng).doc().set({
            select: this.select,
            song: this.song,
            street: this.street,
            DEMO: this.DEMO,
            singer: this.singer,
            name: this.name,
            school: this.school,
            department: this.department,
            phone: this.phone,
            mail: this.mail
          });
          setTimeout(function(){
            window.location.href = '報名完成.html';
          },1000);
          
          
        },

      }
    })  
  </script>



   <!-- mmenu scripts -->
   <script src="../../js/mmenu.js"></script>
   <script src="../../js/mmenu.debugger.js"></script>
   <script>
     new Mmenu( document.querySelector( '#menu' ) );

     document.addEventListener( 'click', ( evnt ) => {
       let anchor = evnt.target.closest( 'a[href^="#/"]' );
       if ( anchor ) {
         alert('Thank you for clicking, but that\'s a demo link.');
         evnt.preventDefault();
       }
     });
   </script>




</body>

</html>